{% extends "base.html" %}
{% load static %}

{% block title %}
Contáctanos
{% endblock %}

{% block content %}
    <h1>Contáctanos</h1>
    <p>Para mayor información, póngase en contacto a través del correo: contacto@empresa.com.</p>
    <h2>Nuestra ubicación</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.046379610414!2d-92.90621522597489!3d18.023051082976618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd879239171bd%3A0xae9e157e4228aad3!2sTecNM%20-%20Campus%20Villahermosa!5e0!3m2!1ses-419!2smx!4v1776979113266!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
{% endblock %}