{% extends "base.html" %}

{% block title %}Lista de Estudiantes{% endblock %}

{% block content %}
<h2>Lista de Estudiantes</h2>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes %}
        <tr>
            <td>{{ estudiante.nombre }}</td>
            <td>{{ estudiante.appat }}</td>
            <td>{{ estudiante.apmat }}</td>
            <td>
            <a href="{% url 'detalle_estudiante' estudiante.id %}" class="btn" style="padding: 4px 12px; font-size: 0.85rem; margin-right: 5px;">✿ Ver</a>    
            <a href="{% url 'editar_estudiante' estudiante.id %}" class="btn" style="background-color: var(--color-hover); padding: 4px 12px; font-size: 0.85rem; margin-right: 5px;">✎ Editar</a>
            <a href="{% url 'eliminar_estudiante' estudiante.id %}" class="btn" style="background-color: #E5A9A9; padding: 4px 12px; font-size: 0.85rem;">✖ Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay estudiantes registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{% url 'crear_estudiante' %}" class="btn mt-3"> Registrar nuevo estudiante</a>
{% endblock %}